# Information about what clouds tukey should support
# used by config_gen.py

# Password for the federated_auth database
AUTH_DB_PASSWORD = ''
AUTH_DB_HOST = '10.103.114.3'

# The user Tukey middleware will run as
USER = 'ubuntu'
# directory with api mapping files
# we should be able to remove this
CONF_DIR = '/var/www/tukey/tukey-middleware/tukey_cli/etc/enabled/'
KEY_DIR = '/var/www/tukey/tukey-middleware/tukey_cli/etc/keys/'
# Directory to write logs to
import logging
LOG_LEVEL = logging.INFO
#LOG_LEVEL = logging.DEBUG
LOG_DIR = '/var/log/tukey/'
LOG_FORMAT = '%(asctime)s %(levelname)s %(message)s %(filename)s:%(lineno)d'
# If you have setup an external usage service
USAGE_DB_PASSWORD = ''
USAGE_DB_USERNAME = 'console_ro'
USAGE_DB_NAME = 'dashboard'
USAGE_DB_HOST = '10.103.112.1'

USAGE_RESOURCES = {
    'cloud': {
        'adler': 'OSDC Cloud2',
        'sullivan': 'OSDC-Sullivan',
        'conte_pdc': 'conte-pdc'
    },
    'hadoop': {
        name.replace('-','_').lower(): name for name in [
            'OCC-Y', 'OCC-LVOC-HADOOP']
    }
}

USAGE_ATTRIBUTES = {
    'hadoop': ['jobs', 'hdfsdu'],
    'cloud': ['du', 'cores', 'ram']
}

# values that are calculated in hours
USAGE_HOURS = ['jobs', 'cores', 'ram']


clouds = [{
    "name": "Adler",
    "id": "adler",
    "type": "eucalyptus",
    "login_node": {
        "gpg_pubkey": 'adler.pub',
        "passphrase": "",
        "host": "10.103.112.1",
        "sshkey_port": 5005
        "cluster_port": 6006
    },
	"usage_cloud": True
    },
    {
    "name": "Sullivan",
    "id": "sullivan",
    "type": "openstack",
    "nova_host": "10.103.114.3",
    "nova_port": 8774,
    "keystone_host": "10.103.114.3",
    "keystone_port": 5000,
    "login_node": {
        "gpg_pubkey": 'sullivan.pub',
        "passphrase": "",
        "host": "10.103.114.1",
        "sshkey_port": 5005
        "cluster_port": 6006
        },
	"usage_cloud": False
    },
    {
    "name": "PDC"
    "id": "pdc",
    "nova_host": "10.103.105.2",
    "nova_port": 8774,
    "keystone_host": 10.103.105.2,
    "keystone_port": 5000,
    "login_node": {
        "gpg_pubkey": 'sullivan.pub',
        "passphrase": "",
        "host": "10.103.105.1",
        "sshkey_port": 5005
        "cluster_port": 6006
    }
]

# used in auth_proxy to switch host to localhost for
# endpoint request 
PROXY_ENDPOINT_PORTS = [5000,8774,9292, 35357]

# used in auth proxy to replace in values in the
# forwarded response body
# This kills the volume service with fire
PROXY_REPLACE = {'volume': ''}


AUTH_TOKEN_EXPIRATION = 24*60*60

API_HOST = '127.0.0.1'

# The port of the nova api
NOVA_PROXY_PORT = 8774

# Required for Swift somehow this will be determined
# at OpenStack cloud install time
MEMBER_ROLE_ID = "7cc444dd12f4413c90f1f19e3c109f99"

GPG_HOME = '/var/www/tukey/.gnupg'
GPG_FINGERPRINT = 'FC9B3EC071DE820529E974BDF28152B028BC3A6D'
GPG_PASSPHRASE = ''

# for the ssh key generation service
SERVER_PASSPHRASE = ''
SERVER_GPG_PASSPHRASE = ''
SERVER_GPG_HOME = '/root/.gnupg'

# for the ssh key generation service
KEY_SERVER_HOME_DIR = '/home/'
# this is the gpg passphrase
KEY_SERVER_KEY_FILE = '.ssh/authorized_keys'

SSH_KEYGEN_COMMAND = '/usr/bin/ssh-keygen'

